<h1>{{article.name}}</h1>
<h2>{{article.details}}</h2>
<h3><a href={{article.website}} Target="_blank">{{article.website}}</a></h3>
<br>
<p><img src={{article.gif}}></p>


<button {{action 'delete' article}}>Delete Article</button>
